<% unless user_signed_in? %>
  <div class="tagline">Track your rudiments. Tame those drums.</div>
  <div class="tagline_desc">Rudimentor helps you record your ability and endurance on each of the 40 drum rudiments.<br/>
  Watch, learn and master your technique.</div><br/>
  <div class="quote" style="font-size:18px"><em>'What gets measured, gets done'</em></div><br/>
<% else %>
  <h1>My Rudiments</h1>
<% end %>

<div class="col-md-8 col-md-offset-2">
  <table class='table table-striped table-responsive'>
    <thead>
      <tr>
        <th style="text-align:center" colspan='2'>Rudiment</th>
        <th style="text-align:center">Ability <i class="fa fa-info-circle info-ability" data-html="true" data-toggle="tooltip" data-placement="top" title="This is the speed in beats per minute (bpm) at which you can <strong><em>clearly</em></strong> play the rudiment for <strong><em>1</em></strong> minute at a stretch.<br/><br/> The time signature is 1/8"></i><br/></th>
        <th style="text-align:center" colspan='3'>Endurance <i class="fa fa-info-circle info-endurance" data-html="true" data-toggle="tooltip" data-placement="top" title="This is the speed in beats per minute (bpm) at which you can <strong><em>clearly</em></strong> play the rudiment for <strong><em>5</em></strong> minutes at a stretch.<br/><br/> The time signature is 1/8"></i></th>
      </tr>
    </thead>

    <tbody>
      <% @batches.each do |batch| %>
        <tr id="<%= batch.id %>">
          <td style="text-align:center" class="col-md-1"><%= batch.rudiment_number %></td>

          <td class="col-md-4">
            <%= Rudiment.find(batch.rudiment_number).name %>
            <i class="fa fa-video-camera" data-src="https://www.youtube.com/embed/Z89YwuvVeYo" frameborder="0"></i>
            <!-- Rudiment.find(batch.rudiment_number).yt, class: 'fa fa-video-camera no-highlight' -->
          </td>

          <td style="text-align:center" class="col-md-2">
            <span class="ability_bpm">
              <%= batch.ability_bpm %>
            </span>
          </td>

          <td class="col-md-1">
            <div class="modify_ab" style="text-align: left">
              <div class="row">
                <i class="fa fa-plus-circle mod_metrics" id="modify_ab_plus"></i> 
              </div>
              <div class="row">
                <i class="fa fa-minus-circle mod_metrics" id="modify_ab_minus"></i> 
              </div>
            </div>
          </td>

          <td style="text-align:center" class="col-md-2">
            <div class="endurance_bpm"><%= batch.endurance_bpm %></span>
          </td>

          <td class="col-md-1">
            <div class="modify_end" style="text-align: left">
              <div class="row">
                <i class="fa fa-plus-circle mod_metrics" id="modify_end_plus"></i> 
              </div>
              <div class="row">
                <i class="fa fa-minus-circle mod_metrics" id="modify_end_minus"></i> 
              </div>
            </div>
          </td>
        </tr>

      <% end %>
    </tbody>
  </table>

  <!-- Video Modal -->
  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Watch and learn</h4>
        </div>
        <div class="modal-body">
          <iframe width="560" height="315" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
  <br/>

</div>

<% unless user_signed_in? %>
  <div class="cta row col-md-5">
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success' %> and get started on all rudiments for <strong><em>free!<em></strong>
  </div>
<% end %>

