<p id='notice'><%= notice %></p>

<h1>My Rudiments</h1>

<table class='table table-striped table-responsive'>
  <thead>
    <tr>
      <th style="text-align:center" colspan='2'>Rudiment</th>
      <th style="text-align:center">Ability bpm</th>
      <th style="text-align:center">Ability beat</th>
      <th style="text-align:center">Endurance bpm</th>
      <th style="text-align:center">Endurance beat</th>
      <th style="text-align:center">Video</th>
    </tr>
  </thead>

  <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td><%= batch.rudiment_number %></td>
        <td><%= Rudiment.find(batch.rudiment_number).name %></td>
        <td style="text-align:center"><%= batch.ability_bpm %></td>
        <td style="text-align:center"><%= batch.ability_beat %></td>
        <td style="text-align:center"><%= batch.endurance_bpm %></td>
        <td style="text-align:center"><%= batch.endurance_beat %></td>
        <td style="text-align:center">
          <%= link_to '', Rudiment.find(batch.rudiment_number).yt, class: 'fa fa-2x fa-youtube' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
